@model IEnumerable<admin.libraryweb.Models.ExternalServices.Library.BookModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de libros</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isdn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Authors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isdn)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @{
        var maxPage = 5;
        string page = Context.Request.Query["page"];
        int currentPage = string.IsNullOrEmpty(page) ? 1 : Convert.ToInt32(page);
        int prevPage = currentPage - 1 < 0 ? 1 : currentPage - 1;
        int nextPage = currentPage + 1 >= maxPage ? maxPage : currentPage + 1;
    }
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="@($"/Book/Index?page={prevPage}")">Previus</a></li>
        @for (int i = 1; i <= maxPage; i++)
        {
            <li class="page-item @(i==currentPage?"active":"")"><a class="page-link" href="@($"/Book/Index?page={i}")">@i</a></li>
        }
        <li class="page-item"><a class="page-link" href="@($"/Book/Index?page={nextPage}")">Next</a></li>
    </ul>
</div>
